@use "./colors" as *;

// Basic styles (reset project)
*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    background-color: white;

    @media screen and (min-width: 375px) {
        background-color: $pale-blue;
    }
}
